
<style>

    rect {
      stroke: #fff;
      stroke-width: .1px;
    }

    .job {
      display: inline-block;
      vertical-align: top;
    }

    .title{
      color: black;
      font-weight: bold;
    }

    .skill{
      color: grey;
    }

</style>
 
<h1>Recent Jobs Added:</h1>  
<div class="container ui nine cards"></div>
      <script>
     
      $.get("/jobs.json",function(data){
        console.log(data);
        data.forEach(function(el){
          var content = '<div class="green card"><div class="content"><div class="header">'+el.title+'</div><div class="meta">'+el.skill+'</div></div></div>';
          $('.container').append(content);
        });
      });
         
      </script>
