<div>
<h1>We have <%= pluralize(@job.matched_seekers.count, "person") %> matched with this job</h1>
<h2><%= link_to "Find more people for this job", job_path(@job) %></h2>
<ul>
<% @job.matched_seekers.each do |seeker|%>
<li><%= seeker.first_name%> <%= seeker.last_name%> 
</li>
<% end %>

<div>

  