
<h1>New Job Posting</h1>

<%= render "form" %>

<div class="ui buttons back">
  <div class="ui labeled icon button">
    <i class="left chevron icon"></i>
    	<%= link_to "Back",  employers_path %> 
   </div>
</div>

