// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.buttons.back{
	margin-top: 20px;
}

.link{
	color: white;
}

.ui.card.column.hire-match{
	margin-top: 40px;
}

.image > img{
	margin-bottom: 10px;
}

.match-container{
	width: 290px;

}

.negative.ui.button{
	float: right;
}

